.signup{
    height: calc(100vh);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(219, 224, 237);
    background-size: cover;

}
.signuptittle{
    font-size: 30px;
    color: rgb(244, 235, 235);
}

.registerform{
    margin-top: 10px;
    display: flex;
    flex-direction: column;

}
.registerform > label{
    margin: 10px 0;
}
.registerinput{
    padding: 10px;
    background-color: white;
    border: none;

}
.registerbutton{
    margin-top: 20px;
    cursor: pointer;
    background-color: teal;
    border: none;
    padding: 10px;
    border-radius: 10px;
    color: white;

}
